.component{
  margin: 3em;
}

.hotel-list {
  float: left;;
  width: 30%;
}

.hotel-list  li {
  background: -webkit-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%);
  padding: 15px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-size: 20px;
  font-family: arial, sans-serif;
  font-weight: bold;
}

.hotel-list  li:last-child {
  border-bottom: 1px solid black;
}

.hotel-details {
  float: right;
  width: 65%;
  background-color: #EEEEEE;
  padding: 2em;
  box-shadow: 0 4px 0 0 #DCDCDC;
}

#avatar {
  float: left;
  padding: 1em;
}

#image {
  height: 150px;
  width: 200px;
}

#name-and-rating {
  float: left;
  width: 50%;
  padding: 1em;
  margin-left: -20px;
  font-size: 20px;
  font-family: arial, sans-serif;
  font-weight: bold;
}

#rating {
  height: 20px;
  width: 100px;
}

#price-box {
 float: right;
 margin-top: 7em;
 margin-right: 1em;
 font-family: arial, sans-serif; 
}

#price {
  font-size: 30px;
  color: #EC008C;
  font-weight: bold;
}
