.hotel-list {
  width: 100%;
}

.hotel-list  ul {
  margin-left: -50px;
}

.hotel-list li {
  background: -webkit-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%);
  padding: 15px;
  margin-top: 4px;
  border-bottom: 2px solid grey;
  font-size: 20px;
  font-family: arial, sans-serif;
  font-weight: bold;
}

.hotel-details {
  float: right;
  width: 100%;
  background-color: #EEEEEE;
  padding: 1em;
  margin-top: -10px;
  border-bottom: 2px solid grey;
}

#avatar {
  float: left;
  padding: 1em;
}

#image {
  height: 150px;
  width: 150px;
}

#name-and-rating {
  float: left;
  width: 50%;
  padding: 1em;
  font-size: 15px;
  font-family: arial, sans-serif;
  font-weight: bold;
}

#rating {
  height: 20px;
  width: 100px;
}

#price-box {
 float: right;
 margin-top: 2em;
 margin-right: 1em;
 font-family: arial, sans-serif; 
}

#price {
  font-size: 30px;
  color: #EC008C;
  font-weight: bold;
}
